# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyQt5 compiled files
*.pyc

# IDEs
.vscode/
.idea/
*.spec
# Outros arquivos temporários
*.log
*.tmp

# Ignorar arquivos AppImage
MyApp-x86_64.AppImage
appimagetool-x86_64.AppImage

# Ignorar o diretório MyApp e todo o seu conteúdo
MyApp/

# Ignorar o arquivo de códigos de recuperação do GitHub
github-recovery-codes.txt

