altgraph
asteval
beautifulsoup4
cffi
contourpy
cryptography
cycler
docstring-to-markdown
et_xmlfile
fonttools
fpdf
jedi
kiwisolver
lupa
Markdown
matplotlib
numpy
openpyxl
packaging
pandas
parso
pillow
pluggy
pycparser
pygame
pyinstaller
pyinstaller-hooks-contrib
pyparsing
PyQt5
PyQt5-Qt5
PyQt5_sip
python-dateutil
python-lsp-jsonrpc
python-lsp-server
python-vlc
pytz
setuptools
six
soupsieve
tzdata
ujson
